:root {
    --cyan-primary: hsl(180, 66%, 49%);
    --dark-violet-primary: hsl(257, 27%, 26%);
    --red-secondary: hsl(0, 87%, 67%);
    --gray-neutral: hsl(0, 0%, 75%);
    --grayish-violet-neutral: hsl(257, 7%, 63%);
    --very-dark-blue-neutral: hsl(255, 11%, 22%);
    --very-dark-violet-neutral: hsl(260, 8%, 14%);
    --text-md: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 40px;
    padding: 34px 24px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__menu-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

.header__menu-button svg {
    color: var(--grayish-violet-neutral);
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__menu-d {
    width: 50%;
    display: flex;
}

.header__menu-d ul li {
    display: inline-block;
    margin-left: 16px;
}

.header__item {
    color: var(--grayish-violet-neutral);
}

.header__item:hover {
    color: #000;
}

.menu-right {
    justify-content: flex-end;
}

.header__logo-d {
    height: 30px;
}

.login-button {
    width: 100px;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--grayish-violet-neutral);
}

.login-button:hover {
    color: #000;
}

.signup-button {
    width: 100px;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    padding: 6px;
    margin-left: 4px;
    border: none;
    border-radius: 20px;
    background-color: var(--cyan-primary);
    color: white;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #9ae3e3;
}

.nav__modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    z-index: 1;
    padding: 24px;
}

.active {
    opacity: 1;
}

.no-active {
    display: none;
}

.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 12px;
    border-radius: 12px;
    background-color: var(--dark-violet-primary);
}

.modal__container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__container ul li {
    margin-bottom: 14px;
}

.modal__container ul li a {
    color: white;
}

.modal__container hr {
    width: 100%;
    border: none;
    border: 1px solid var(--grayish-violet-neutral);
}

.modal__container .login-button {
    color: white;
    margin: 12px;
}

.modal__container .signup-button {
    width: 100%;
}

.image__working {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.image__working img {
    position: absolute;
    right: -80px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transform: scale(1.3);
}

.info__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px;
    margin-bottom: 12px;
}

.background-color .info__container {
    padding: 100px 24px 56px 24px;
}

.info__container h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
}

.info__container p {
    font-size: var(--text-md);
    color: var(--grayish-violet-neutral);
    margin-bottom: 18px;
}

.button {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: var(--text-md);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: var(--cyan-primary);
}

.button:hover {
    background-color: #9ae3e3;
}

.background-color {
    margin-top: 84px;
    position: relative;
    background-color: #f0f1f6;
}

.form__section {
    width: 100%;
    height: 220px;
    position: absolute;
    top: -100px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.form__section .form__container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 12px;
    background-color: var(--dark-violet-primary);
    background-image: url(../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.form__container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__container .input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__container p {
    width: 90%;
    margin-bottom: 12px;
    color: var(--red-secondary);
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form__container form input {
    width: 90%;
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 8px;
    font-size: var(--text-md);
}

.input__container .input-error {
    border: 2px solid var(--red-secondary);
    margin: 0;
}

.input-error::placeholder {
    color: var(--red-secondary);
}

.form__container form button {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: var(--text-md);
    border: none;
    background-color: var(--cyan-primary);
    color: white;
    font-weight: bold;
}

.form__container form button:hover {
    background-color: #9ae3e3;
}

.card__url {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 12px 0 12px 0;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
}

.card__url p {
    font-size: 16px;
    text-align: start;
    color: #000;
    padding: 6px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__url .card__url-short {
    display: flex;
    flex-direction: column;
}

.card__url .card__url-short p {
    color: var(--cyan-primary);
}

.card__url .card__url-short button {
    font-weight: bold;
    font-size: var(--text-md);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 18px;
}

.card__url .card__url-short .copy {
    background-color: var(--cyan-primary);
}

.card__url .card__url-short .copied {
    background-color: var(--dark-violet-primary);
}

.characteristics__container {
    width: 100%;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.characteristics__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 90px;
    padding: 16px;
    background-color: #fffefe;
}

.characteristics__article figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    background-color: var(--dark-violet-primary);
}

.characteristics__article h2 {
    margin-top: 40px;
}

.characteristics__article p {
    color: var(--grayish-violet-neutral);
    padding: 20px 0;
}

.line-blue {
    width: 8px;
    height: 80px;
    position: absolute;
    bottom: -80px;
    background-color: var(--cyan-primary);
}

.getstarted__container {
    width: 100%;
    height: 250px;
    background-color: var(--dark-violet-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.getstarted__container h2 {
    color: white;
    margin-bottom: 12px;
}

.getstarted__container a {
    cursor: pointer;
    padding: 8px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--very-dark-violet-neutral);
}

.footer__container svg {
    margin: 32px 0 32px 0;
    fill: white;
}


.footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

.footer__block h4 {
    color: white;
    padding: 8px;
}

.footer__block li {
    padding: 4px;
}

ul {
    list-style: none;
}

li a {
    cursor: pointer;
    text-decoration: none;
}

.footer__block li a {
    color: var(--gray-neutral);
}

.footer__icons-social {
    display: flex;
    width: 150px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.desktop {
    display: none;
}

@media (min-width: 480px) {
    .image__working img {
        transform: scale(1.0);
    }
}

@media (min-width: 1200px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .header {
        padding: 34px 224px 34px 224px;
    }

    .brand-slogan__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 200px;
        margin: 24px 0 24px 0;
    }

    .brand-slogan__container .info__container {
        width: 50%;
        justify-content: flex-start;
        text-align: start;
        padding: 24px;
        margin-bottom: 12px;
    }

    .brand-slogan__container .info__container h2 {
        font-size: 64px;
        line-height: 70px;
        margin-bottom: 0px;
    }

    .brand-slogan__container .info__container p {
        margin-bottom: 22px;
    }

    .brand-slogan__container .button {
        margin: 0;
        width: 180px;
        cursor: pointer;
    }

    .brand-slogan__container .image__working {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 400px;
        position: relative;
        overflow: hidden;
    }

    .brand-slogan__container .image__working img {
        right: -25%;
    }

    .form__section {
        height: 120px;
        position: absolute;
        top: -50px;
        padding: 0 224px 0 224px;
    }

    .form__section .form__container {
        max-width: 100vw;
        border-radius: 16px;
        background-image: url(../images/bg-shorten-desktop.svg);
    }

    .form__container form {
        display: flex;
        flex-direction: row;
    }

    .form__container .input__container {
        height: 100%;
        width: 70%;
        margin-right: 16px;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .form__container .input__container p{
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 0;
    }

    .form__container form input {
        width: 100%;
        padding: 14px;
        margin: 0 12px 0 0;
    }

    .form__container form button {
        width: 15%;
        height: 52px;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;
    }

    #url-card__container .card__url {
        max-width: 100vw;
        margin: 18px 0;
        padding: 18px;
        flex-direction: row;
    }

    #url-card__container hr {
        display: none;
    }

    .card__url .card__url-short {
        gap: 16px;
        flex-direction: row;
    }

    .card__url .card__url-short .copy {
        cursor: pointer;
    }

    .card__url-short .copy:hover {
        background-color: #9ae3e3;
    }

    .card__url-short .copied {
        cursor: pointer;
    }

    .background-color #url-card__container {
        width: 100%;
        padding-left: 224px;
        padding-right: 224px;
    }

    #url-card__container .advanced-statistics {
        width: 50%;
        padding: 80px 0;
        margin: 0 auto;
    }

    .info__container {
        width: 50%;
        margin: 0 auto;
        padding: 150px 0 100px 0;
        text-align: center;
    }

    .characteristics__container {
        padding: 0 224px 80px 224px;
        flex-direction: row;
        gap: 40px;
    }

    .characteristics__article {
        align-items: flex-start;
    }

    .characteristics__article p {
        text-align: start;
    }

    .characteristics__article figure {
        left: 48px;
    }

    .line-blue {
        width: 80px;
        height: 8px;
        right: -80px;
        bottom: 50%;
        top: 50%;
    }

    .characteristics__container .characteristics__article:nth-child(2) {
        bottom: -24px;
    }

    .characteristics__container .characteristics__article:nth-child(3) {
        bottom: -48px;
    }

    .getstarted__container {
        background-image: url(../images/bg-boost-desktop.svg);
    }

    .footer__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 24px 224px 24px 224px;
    }

    .footer__container svg {
        margin: 0;
    }

    .footer__container ul {
        display: flex;
        align-items: flex-start;
        gap: 56px;
    }

    .footer__block {
        margin: 0;
        align-items: flex-start;
    }

    .footer__block h4 {
        padding: 0;
    }

    .footer__item:hover {
        color: var(--cyan-primary);
    }

    .footer__item svg:hover {
        fill: var(--cyan-primary);
    }
}